<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>File Upload</title>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to Infinity ♾️</h1>
    </div>
    <div class="container-home">
      <div class="left">
        <form method="get" class="form-home">
          <button class="button-87-2" formaction="/register">Register Now</button>

          <button class="button-87-2" formaction="/login">Login</button>
        </form>
      </div>

      <div class="right">
        <button type="button" class="login-with-google-btn">
          Sign in with Google
        </button>
      </div>
    </div>
  </body>
</html>
