<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Login User</title>
  </head>
  <body>
    <div class="container-auth">
      <form action="/login" method="post" class="form-user">
        <div class="inputs">
          <input type="text" name="username" placeholder="Enter Username" />
          <input type="text" name="password" placeholder="Enter Password" />
        </div>

        <div class="btnDiv">
          <button type="submit" class="button-87">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>
